.bg-background { background-color: var(--bg-color); }
.bg-divider { background-color: var(--divider); }
.bg-toolbar { background-color: var(--toolbar); }
.bg-toolbar-highlight { background-color: var(--toolbar-highlight); }
.bg-footer { background-color: var(--primary-txt); }

.text-primary-txt { color: var(--primary-txt); }
.text-secondary-txt { color: var(--secondary-txt); }
.text-tertiary-txt { color: var(--tertiary-txt); }

.bg-accent { background-color: var(--accent); }
.bg-accent-dark { background-color: var(--accent-dark); }
.text-on-accent { color: var(--on-accent); }

