@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100..900&display=swap');

$color-primary: #1E40AF;
$color-secondary: #F59E0B;
$color-accent: #10B981;


$font-sans: 'Roboto', sans-serif;
$font-noto: 'Noto Serif Display', serif;
