// _light.scss
.light {
  --bg-color: #ffffff;
  --text-color: #AE7D5C;
  --primary-color: #1e40af;
  --accent: #10b981;
  --on-accent: #ffffff;
  --divider: #e5e7eb;
  --toolbar: #f9fafb;
  --toolbar-highlight: #e0e7ff;
  --primary-txt: #111827;
  --secondary-txt: #6b7280;
  --tertiary-txt: #9ca3af;
  --accent-dark: #059669;

    /* Custom Theme */
  --base-color: #FDF8EF;
}
