// _light.scss
.light {
  --bg-color: #FDF8EF;
  --text-color: #AE7D5C;
  --primary-color: #1e40af;
  --accent: #10b981;
  --on-accent: #ffffff;
  
  --toolbar: #f9fafb;
  --toolbar-highlight: #e0e7ff;
  --primary-txt: #111827;
  --secondary-txt: #6b7280;
  --tertiary-txt: #9ca3af;
  --accent-dark: #059669;

    /* Custom Theme */
  --base-color: #FDF8EF;
  --hero-bg: #C18D5C;
  --white-color: #FDF8EF;
  --divider-color: #D6B4A0;
  --black-color:#434241;
  --gray-white: #FFFFFFCC;
  --divider: #D1D5DB33;
}
